<h2 class="page-header"> The Line </h2>

<div class="container">
	<div class="form-group">
		<label for="exampleInputName2"> Output</label>
		<textarea class="form-control" id= "output-text" name="message" rows="20" cols="113"></textarea>


		<label for="exampleInputName2">Input</label>
		<input type="text" class="form-control" id="command">
	</div>
</div>